<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Multipage Website</title>
  <link rel="icon" type="image/x-icon" href="./images/logo.png">
  <link rel="stylesheet" href="/styles/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
</head>

<body>
  <header class="header">
    <a href="/" class="logo">
      <img class="logo-image" src="/images/logo.png" alt="logo" width="100px" height="100px" loading="lazy" />
    </a>
    <nav class="menu">
      <a class="menu-item" href="/">Home</a>
      <a class="menu-item" href="/gods">Greek Gods</a>
      <a class="menu-item" href="/heroes">Greek Heroes</a>
      <a class="menu-item" href="/monsters">Greek Monsters</a>
    </nav>
  </header>
</body>

</html>