<main class="main">
  <div class="image-container">
    <a class="image-item" href="/gods">
      <img src="/images/GreekGod.png" alt="Greek Gods" width="100%" height="auto" />
    </a>
    <a class="image-item" href="/heroes">
      <img src="/images/GreekHeroes.png" alt="Greek Monsters" width="100%" height="auto" />
    </a>
    <a class="image-item" href="/monsters">
      <img src="/images/GreekMonsters.png" alt="Greek Monsters" width="100%" height="auto" />
    </a>
  </div>
</main>