:root {
  --primary-color-beige: #faf9f8;
  --secondary-color-brown: #7d6854;
  --accent-color-yellow: #e3cbb5;
  --background-white: #faf9f8;
  --text-color-black: #000000;
  --text-color-white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  font-family: "Forum", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: var(--primary-color-beige);
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.header-title {
  color: var(--text-color-black);
  text-decoration: none;
  font-size: 2rem;
}

.menu-item {
  text-decoration: none;
  padding: 10px;
  color: var(--text-color-black);
}

.menu-item:hover {
  text-decoration: underline var(--secondary-color-brown) 3px;
  text-underline-offset: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 20px;
  width: 70%;
}

img {
  border-radius: 20px;
}

img:hover {
  transform: scale(0.95);
  transition: transform 0.4s ease;
}

.main {
  background-image: url("../images/background.webp");
  background-color: var(--background-white);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.greek-container {
  display: flex;
  justify-content: center;
  padding: 16px;
  gap: 20px;
}

.greek-card {
  justify-content: center;
  display: flex;
  width: 35%;
}

.greek-card-item {
  background-color: var(--secondary-color-brown);
  padding: 16px;
  color: var(--text-color-white);
  margin: 16px;
}

.greek-title {
  text-align: center;
}

.greek-item {
  width: 20%;
}

.greek-image,
.greek-image-solo {
  height: auto;
  width: 100%;
}

.greek-image-solo:hover,
.logo-image:hover {
  transform: none;
  transition: none;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-white);
  height: 100px;
  align-items: center;
}

.footer-wrapper {
  display: flex;
  gap: 10px;
  padding: 10px;
}

@media screen and (max-width: 768px) {

  .header {
    display: flex;
    flex-direction: column;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 0.9rem;
  }

  .image-container {
    width: 55%;
    flex-direction: column;
  }

  .greek-container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .greek-item {
    width: 45%;
  }

  .greek-card {
    width: 100%;
  }

  .footer {
    justify-content: center;
  }
}